header{
    position: relative;
}
.navbar {
    font-size: 1rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .navbar .container{
      display: grid;
      grid-template-columns: repeat(2,1fr);
  
  }
  .logo{
      width: 150px;
      margin-left: 150px;
      font-size: 3rem;
      transition: 1s;
  }
  .logo:hover{
      font-family: Lobster;
      letter-spacing: 10px;
      margin-left:200px ;
  }
 
  .nav{
      display: flex;
      margin-top: 20px;
  }
  .navbar .container li {
    list-style: none;
    }
  .navbar .container a {
    text-decoration: none;
    margin-right: 8px;
    background-color: rgba(189, 189, 188,0.2);
    color: black;
    border: 1px solid rgb(121, 120, 120);
    border-radius: 10px;
    padding: 8px;
    font-weight: 800;
    transition: .2s ease-in-out;
    }
    .navbar .container a:hover { 
      background-color: rgb(122, 122, 122);
      color: white;
      font-weight:bolder;
      letter-spacing:10px;
      padding: 12px;
      font-family: Lobster;
    }